<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">Delete Employee</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
      <tr class="table-active">
        <td scope="row">{{this.fullname}}</td>
        <td scope="row">{{this.email}}</td>
        <td scope="row">{{this.phone}}</td>
        <td scope="row">{{this.city}}</td>
        <td scope="row">
          <a href="/emp/final-delete/{{this._id}}">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a href="/"><button class="btn btn-success">Back to home</button></a>